// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-page{

	width:960px;
	margin:0 auto;
	@include clearfix;
}

.l-main{
	
	@include grid-span(12,1);
}

@include breakpoint($desk){

	

	.l-region--main-video {
		
		@include grid-span(9, 1);
	}

	.l-region--main-audio {
		@include grid-span(3, 10);
	}

	.l-sectional{

		@include grid-span(12,1);
		.l-region--sectional-one{
			@include grid-span(4,1);
		}
		.l-region--sectional-two{
			@include grid-span(4,5);
		}
		.l-region--sectional-three{
			@include grid-span(4,9);
		}
	}


	.l-content {
		@include grid-span(9, 1);
	}

	.l-region--sidebar-second{
		@include grid-span(3, 10);
	}


	.l-footer{
		@include grid-span(12,1);

		.l-region--footer-gallary{
			background: yellow;
		}
	}


}