$bodycolor: #262626;
$menu-link: white;
$footer-color: #161616;
$footer-text-color:white;

//flag color
$sectional-one: #708C87;
$sectional-two: #708C87;
$sectional-three: #708C87;
$sectional-color: #c7d0dd;

$page-color:#f7fff9;

$h1-color:#708C87;
$h2-color:#a51212;
$a-color:white;

$bodycolor:#cccdce;

